<html>
<head>
    <title>
        Registration Page
    </title>
<body>
    <table align="center" height="500px" width="20%">
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr height="80px">
            <td></td>
        </tr>
        <tr>
            <td>
                <form action="../controller/reg_check.php" method="post">
                    <fieldset>
                        <legend align="center">Registration</legend>
                        <table align="center" width="100%">
                            <tr>
                                <td>
                                    <table align="center">
                                        <tr>
                                            <td>Name <br>
                                                <input type="text" name="name" value="" id="name_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Passoword <br>
                                                <input type="password" name="password" value="" id="pass_id" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Passoword <br>
                                                <input type="password" name="confirm_password" value="" id="con_pass_id"
                                                    required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Email <br>
                                                <input type="email" name="email" value="" id="email_id" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Age <br>
                                                <input type="number" name="age" value="" id="age_id" required>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <input type="submit" name="signup" value="Sign Up" onclick="ajax(event)">
                                    <input type="reset" name="reset" value="Reset">
                                    <a href="login.html">Sign In</a>
                                </td>

                            </tr>
                        </table>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
    <h1 id="change_ajax">hello</h1>

    <script src="../asset/js/sign_up_js.js"></script>
</body>
</head>
</html>